body {
  margin: 0;
  /* height: 100vh;
  display: flex; */
  align-items: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: normal;
  background: linear-gradient(135deg, #5324c3, #ff00b1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  color: white;
  padding: 10px;
  list-style-type: none;
  margin: 0;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar li {
  display: inline;
  margin-right: 500px;
}

.navbar .right {
  margin-left: auto;
}

.event {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.registration-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registration-form {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.registration-form input,
.registration-form textarea,
.registration-form button {
  width: 95%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.registration-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #0056b3;
}


/* UserDetails.css */
.user-details-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details {
  font-size: 16px;
}

.user-details p {
  margin: 0;
  padding: 5px 0;
}

/* RegistrationForm.css */
.registration-form-container {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* UserDetails.css */
.user-details-container {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.registration-form button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.registration-form button:hover {
  background-color: #0056b3;
}
